{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change password</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password.css' %}" />
    <link rel="image/png" href="{% static 'img/icons/logo.png' %}">

  </head>
  <body>
    <div class="profile-menu">
      <div class="profile-menu__container">
        <div class="profile-menu__email">{{ user.email }}</div>
        <div class="profile-menu__burger">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
      <div class="profile-dropdown" style="display: none">
        <div class="profile-dropdown__container">
          <ul class="profile-menu__dropdown profile-menu__dropdown--collapsed">
            <li class="profile-menu__item">
              <a href="{% url 'results' %}" class="profile-menu__link"
                >Главная</a
              >
            </li>
            <li class="profile-menu__item">
              <a href="{% url 'password' %}" class="profile-menu__link"
                >Настройки</a
              >
            </li>
            <li class="profile-menu__item">
              <a href="{% url 'logout' %}" class="profile-menu__link">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="setting-page__container">
      <div>
        <h1 class="setting-page__title">
          <a class="single-course__back-link" href="/"></a>Настройки аккаунта
        </h1>
      </div>
      <div class="setting-page__title-wrapper">
        <div class="setting-page__mob-title">Смена пароля</div>
        <div class="setting-page__mob-sub">Заполните все поля</div>
      </div>
      <div class="form-card">
        <div class="form-card__cover form-card__cover--setting">
          <h2 class="form-card__title">Смена пароля</h2>
        </div>
        <div class="auth-form">
          <form method="POST">
            {% csrf_token %}
            <h3 class="auth-form__title">Заполните все поля</h3>
            <div class="form-input">
              <label class="form-input__label">Введите действующий пароль</label
              ><input
                class="form-input__control"
                type="password"
                placeholder=""
                name="current-password"
                value=""
              /><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAANlBMVEUAAACgpaefn6efp6egpaegpqefn5+gpKegpaefpKefoqagpaehpaifo6Wfpqafo6efpaWgpaeG5SabAAAAEXRSTlMA3yAgv18Q78+QUKBvgFBAMARxBMoAAACSSURBVCjPrZDLEsMgCEVFER9JH/z/zxaohUWdLjq5m5CccLxjujYZ8x4gw54UUPIA5oY1f5PKlkEBMvDbRvOwKb533YltP7xTvFNntEHcUOTP5gS42rCeze11raADI6b4qLThjRfJovDDlYzWrME0UzSMaZYUhI87ieU0W4QGR4LYUkXti+cTft/1nkjJPaH0T14krgZWTPR4CQAAAABJRU5ErkJggg=="
                alt="eye"
                class="form-input__eye"
              />
              <div class="form-input__error-text">{{message}}</div>
            </div>
            <div class="form-input">
              <label class="form-input__label">Новый пароль</label
              ><input
                class="form-input__control"
                type="password"
                placeholder=""
                name="new-password"
                value=""
              /><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAANlBMVEUAAACgpaefn6efp6egpaegpqefn5+gpKegpaefpKefoqagpaehpaifo6Wfpqafo6efpaWgpaeG5SabAAAAEXRSTlMA3yAgv18Q78+QUKBvgFBAMARxBMoAAACSSURBVCjPrZDLEsMgCEVFER9JH/z/zxaohUWdLjq5m5CccLxjujYZ8x4gw54UUPIA5oY1f5PKlkEBMvDbRvOwKb533YltP7xTvFNntEHcUOTP5gS42rCeze11raADI6b4qLThjRfJovDDlYzWrME0UzSMaZYUhI87ieU0W4QGR4LYUkXti+cTft/1nkjJPaH0T14krgZWTPR4CQAAAABJRU5ErkJggg=="
                alt="eye"
                class="form-input__eye"
              />
              <div class="form-input__error-text"></div>
            </div>
            <div class="form-input">
              <label class="form-input__label">Новый пароль еще раз</label
              ><input
                class="form-input__control"
                type="password"
                placeholder=""
                name="new-password-onemore"
                value=""
              /><img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAANlBMVEUAAACgpaefn6efp6egpaegpqefn5+gpKegpaefpKefoqagpaehpaifo6Wfpqafo6efpaWgpaeG5SabAAAAEXRSTlMA3yAgv18Q78+QUKBvgFBAMARxBMoAAACSSURBVCjPrZDLEsMgCEVFER9JH/z/zxaohUWdLjq5m5CccLxjujYZ8x4gw54UUPIA5oY1f5PKlkEBMvDbRvOwKb533YltP7xTvFNntEHcUOTP5gS42rCeze11raADI6b4qLThjRfJovDDlYzWrME0UzSMaZYUhI87ieU0W4QGR4LYUkXti+cTft/1nkjJPaH0T14krgZWTPR4CQAAAABJRU5ErkJggg=="
                alt="eye"
                class="form-input__eye"
              />
              <div class="form-input__error-text">{{message}}</div>
            </div>
            <button class="button auth-form__button">Сменить Пароль</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      const prof = document.querySelector(".profile-menu__burger");
      const dropdown = document.querySelector(".profile-dropdown");

      prof.addEventListener("click", function () {
        if (dropdown.style.display !== "none") {
          dropdown.style.right = "-999px";
          dropdown.style.display = "none";
          prof.classList.remove("profile-menu__burger--open");
        } else {
          dropdown.style.right = "0px";
          dropdown.style.display = "flex";
          prof.classList.add("profile-menu__burger--open");
        }
      });
    </script>
  </body>
</html>
