{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=q, initial-scale=1.0" />
    <title>Excellent Enbody</title>
        <link rel="image/png" href="{% static 'img/icons/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/train_detail/styles.css' %}" />
  </head>
  <body>
    <div class="profile-menu">
      <div class="profile-menu__container">
        <div class="profile-menu__email">{{ user.email }}</div>
        <div class="profile-menu__burger">
          <span></span><span></span><span></span><span></span>
        </div>
      </div>
      <div class="profile-dropdown" style="display: none">
        <div class="profile-dropdown__container">
          <ul class="profile-menu__dropdown profile-menu__dropdown--collapsed">
            <li class="profile-menu__item">
              <a href="{% url 'results' %}" class="profile-menu__link"
                >Главная</a
              >
            </li>
            <li class="profile-menu__item">
              <a href="{% url 'password' %}" class="profile-menu__link"
                >Настройки</a
              >
            </li>
            <li class="profile-menu__item">
              <a href="{% url 'logout' %}" class="profile-menu__link">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main>
      <section class="top">
        <div class="top-container">
          <div class="back">
            <a href="{% url 'days' %}">Назад</a>
          </div>
          <div class="btn">
            <a href="/calculate/results"> Контроль результатов </a>
          </div>
        </div>
      </section>
      <div class="content">
        <h1>Excellent Enbody - Накачайте шикарные ягодицы и подтяните тело!</h1>
        <div class="cards">
          <div class="el practiceBtn">
            <img src="{% static 'images/practice.svg' %}" alt="" />
            <p>Практика</p>
          </div>
          <div class="el mealBtn">
            <img src="{% static 'images/meal.svg' %}" alt="" />
            <p>Питание</p>
          </div>
          <div class="el scrabBtn">
            <img src="{% static 'images/recipe.svg' %}" alt="" />
            <p>Скраб</p>
          </div>
        </div>
      </div>

      <div class="practice" style="display: none">
        <h1>Тренировка</h1>
        <h2>{{ train.h2 }}</h2>
        {{ train.content|safe }}
        <div class="pink">{{ train.advice.content|safe }}</div>
        <div class="practice__block">
          {% for exercise in train.exercises.all %}
          <h3>Упражнение 1</h3>
          <h2 class="title">{{ exercise.name }}</h2>
          <div class="practice__row">
            <div class="practice__col">
              <h3>Работающие мышцы:</h3>
              <ul class="dots">
                {% for muscle in exercise.muscles.all %}
                <li>{{ muscle.name }}</li>
                {% endfor %}
              </ul>
            </div>
            <img src="{{ exercise.image.url }}" alt="" />
          </div>
          <div class="video">
            <iframe
              src="{{ exercise.video }}"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture; encrypted-media;"
              allowfullscreen=""
            ></iframe>
          </div>

          <h3>Техника выполнения:</h3>
          {{ exercise.content|safe }}
        </div>
        {% endfor %}
      </div>
     </div>
      <div class="meal" style="display: none">
        <div class="meal-content">
          <div class="row row-sb">
            <div class="title">Питание</div>
            <div class="cart">
              <p>Дневной рацион</p>
              <img src="meal-pic.svg" alt="" />
            </div>
          </div>
          <div class="name">{{ train.nutrition.name }}</div>
          <p class="p">КБЖУ одной порции</p>
          <div class="row">
            <img src="{{ train.nutrition.image.url }}" alt="" />
            <div class="col">
              <div class="ccal">
                <p>Калории</p>
                <span>{{ train.nutrition.callories }}</span>
              </div>
              <ul class="cbjy">
                <li>
                  <p>Белки</p>
                  <span>{{ train.nutrition.protein }}г</span>
                </li>
                <li>
                  <p>Жиры</p>
                  <span>{{ train.nutrition.fats }}г</span>
                </li>
                <li>
                  <p>Углеводы</p>
                  <span>{{ train.nutrition.carbohydrates }}г</span>
                </li>
              </ul>
            </div>
            <div class="col">
              <h4>Ингредиенты</h4>
              <ul class="meal__ing">
                {% for ingridient in train.nutrition.ingredients.all %}
                <li>{{ ingridient.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
<!--           <div class="video">
            <iframe
              src="{{ train.nutrition.video }}"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture; encrypted-media;"
              allowfullscreen=""
            ></iframe>
          </div> -->
          <h3>Способ приготовления</h3>
          <ul class="ul">
            {{ train.nutrition.description|safe }}
          </ul>
        </div>
      </div>
      <div class="scrab" style="display: none">
        <span>{{ train.scrub.description }}</span>
        <h2>«{{ train.scrub.name }}»</h2>
        <div class="row">
          <img src="{{ train.scrub.image.url }}" alt="" />
          <div>
            <div class="title-scrab">Состав:</div>
            {{ train.scrub.components|safe }}
          </div>
        </div>
        <div class="title-scrab">Способ приготовления:</div>
        <p style="font-size: 18px; line-height: 1.5">
          {{ train.scrub.instruction }}
        </p>
      </div>
    </main>

    <script src="{% static 'js/train_detail/main.script.js' %}"></script>
    <script>
      const btnStart = document.getElementById("beforeChange");
      const btnNew = document.getElementById("currentWeightBtn");
      const btnIdea = document.getElementById("ideaChange");
      const modalNew = document.querySelector(".new");
      const modalStart = document.querySelector(".start");
      const modalIdea = document.querySelector(".idea");
      const modalC1 = document.querySelector(".modal-c-1");
      const modalC2 = document.querySelector(".modal-c-2");

      const modalC3 = document.querySelector(".modal-c-3");
      const modalC4 = document.querySelector(".modal-c-4");

      const enterNew = document.querySelector(".new button");
      const enterStart = document.querySelector(".start button");
      const enterIdea = document.querySelector(".idea button");

      btnStart.addEventListener("click", () => {
        modalStart.style.display = "block";
        modalC2.style.display = "block";
      });
      btnNew.addEventListener("click", () => {
        modalNew.style.display = "block";
        modalC1.style.display = "block";
      });
      btnIdea.addEventListener("click", () => {
        modalIdea.style.display = "block";
        modalC3.style.display = "block";
      });
      enterNew.addEventListener("click", (even) => {
        let input = document.querySelector(".new input").valueAsNumber;
        sendWeight("new", input);
        modalNew.style.display = "none";
      });

      enterStart.addEventListener("click", (even) => {
        let input = document.querySelector(".start input").valueAsNumber;
        sendWeight("start", input);
        modalStart.style.display = "none";
      });

      enterIdea.addEventListener("click", (even) => {
        let input = document.querySelector(".idea input").valueAsNumber;
        sendWeight("idea", input);
        modalIdea.style.display = "none";
      });

      function sendWeight(field, value) {
        data = { field: field, value: value };
        fetch("/accounts/set_weight/", {
          method: "POST",
          body: JSON.stringify(data),
        });
      }
    </script>
    {% comment %}
    <script src="{% static 'js/nav.js' %}"></script>
    {% endcomment %}
    <script>
      const prof = document.querySelector(".profile-menu__burger");
      const dropdown = document.querySelector(".profile-dropdown");

      prof.addEventListener("click", function () {
        if (dropdown.style.display !== "none") {
          dropdown.style.right = "-999px";
          dropdown.style.display = "none";
          prof.classList.remove("profile-menu__burger--open");
        } else {
          dropdown.style.right = "0px";
          dropdown.style.display = "flex";
          prof.classList.add("profile-menu__burger--open");
        }
      });
    </script>
  </body>
</html>
